/*é¦–é¡µ*/
/*top*/
.syewmpc{position: fixed;left:10px;top:380px; z-index: 999; }
.topWrap{
	width: 100%;
	height: 32px;
	margin: 0 auto;
	background: url(../img/top_bg.png) repeat 0 0;
}
.topWrap .top{
	width: 1200px;
	height: 32px;
	margin: 0 auto;
	overflow: hidden;
}
.topWrap .top ul li{
	float: right;
	margin-right: 0;
	color: #c5a75c;
}
.topWrap .top ul li a{
	font-size: 14px;
	color: #c5a75c;
	padding: 0 20px;
	line-height: 32px;
}
.topWrap .top ul li a.last{
	padding: 0 0px 0 20px;
}
/*logoå±‚*/
.logoWrap{
	width: 100%;
	height:100px;
	margin: 0 auto;
	overflow: hidden;

	background:#fff url(../img/head_bg.png) no-repeat right -32px;
}
.logoDiv{
	width: 1200px;
	margin: 0 auto;
	height: auto;
}
.logo{
	float: left;
}
.logo a img{
	width: 278px;
	height: 78px;
	margin-top: 12px;
}
.search{
	float: right;
	margin-right: 0;
	width: 272px;
	height: 34px;
	border: 1px solid #e6e6e6;
	background:#f6f6f6;
	border-radius: 35px;
	margin-top:27px;
}
.search input.button{
	float: left;
	width: 44px;
	height: 34px;
	background: url(../img/search_icon.png) no-repeat 18px center;
	border-top-left-radius: 35px;
	border-bottom-left-radius: 35px;
}
.search input.text{
	float: left;
	width:228px;
	height: 34px;
	line-height: 34px;
	font-size: 14px;
	color: #c7c7c7;
	background: #f6f6f6;
	border-top-right-radius: 35px;
	border-bottom-right-radius: 35px;
}

/****************** nav ****************/
.nav_bar {
	width: 100%;
	margin: 0 auto;
	height: 55px;
	position: relative;
	z-index: 10;
}
.nav_bar .nav_title{
	width:1200px;
	margin: 0 auto;
	height: 55px;
	line-height: 55px;
	background: #fafafa;
	border-top: 1px solid #e6e6e6;
}
.nav_bar .nav_title a{
	display: inline-block;
	float: left;
	width: 133.333px;
	text-align: center;
	font-size: 16px;
}
.nav_menu {
	width: 1200px;
	position: absolute;
	top: 55px;
	left: 50%;
	display: none;
	margin-left: -600px;
	background: rgba(255,255,255,0.9);
	background: url(../img/nav_bg1.png) repeat;
	border-left: 1px solid #c0c0c0;
}
.lanse {
	background: #681821;
}
.lanse1 {
	background:rgba(189,88,99,0.8);
	background: url(../img/nav_bg2.png) repeat;
}
.color1 {
	color: #fff;
}
.color2 {
	color: #323232;
}
.color3 {
	color: #646464;
}
.menu {
	float: left;
	width: 132.3333px;
	height: 355px;
	border-right: 1px solid #c0c0c0;
}
.menu ul li{
	display: block;
	width: 100%;
	font-size: 14px;
	text-align: center;
	margin-top:17px;
}
.menu ul li a:hover{
	color: #681821;
}

/*banner*/

/****************** slider *********************/
.slideBox_banner {
	width: 1200px;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
	position: relative;
}

.slideBox_banner .hd {
	height: 15px;
	overflow: hidden;
	position: absolute;
	right: 46%;
	bottom: 25px;
	z-index: 1;
}

.slideBox_banner .hd ul {
	overflow: hidden;
	zoom: 1;
	float: left;
}

.slideBox_banner .hd ul li {
	float: left;
	margin-right: 15px;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	text-align: center;
	background: #fff;
	cursor: pointer;
}

.slideBox_banner .hd ul li.on {
	background: #ae131a;
}

.slideBox_banner .bd {
	position: relative;
	height: 100%;
	z-index: 0;
}
.slideBox_banner .bd li {
	zoom: 1;
	vertical-align: middle;
	position: relative;
}

.slideBox_banner .bd img {
	width: 1200px;
	height: 480px; 
	display: block;
}
.slideBox_banner .prev{
	position:absolute; 
	left:3%; 
	top:50%; 
	margin-top:-60px; 
	display:block; 
	width:37px; 
	height:60px; 
	background: url(../img/arrow_licon.png) no-repeat 0 0;
}
.slideBox_banner .next{ 
	position:absolute; 
	right:3%; 
	top:50%; 
	margin-top:-60px; 
	display:block; 
	width:37px; 
	height:60px; 
	background: url(../img/arrow_ricon.png) no-repeat 0 0;
}
.swipe{
	width: 100%;
	height:auto;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
.swipe_con{
	width: 1200px;
	margin: 0 auto;
	height:320px;
	overflow: hidden;
	position: relative;
	z-index: 2;
}

.swipe_con .description {
	position: absolute;
	bottom: 12%;
	left:25px;
	font-size:18px;
	font-weight: bold;
	color: #323232;
	line-height: 24px;

}
.swipe_con .description span {
	display: block;
	width: 582px;
	height: 76px;
	overflow: hidden;
	margin-left: 20px;
	margin-top: 14px;
	line-height: 30px;
}
.swipe_con .more {
	position: absolute;
	bottom: 27%;
	right:0%;
	padding: 5px;
	font-size: 14px;
	background-color: white;
	background-color: rgba(255, 255, 255, .6);
}
.swipe_con .more a {
	color: #c42a1a;
}
/*å­¦æ ¡è¦é—»*/
.main{
	width: 1200px;
	height: auto;
	overflow: hidden;
	margin: 20px auto 0;
}
#tab_hotnew ,
#tab_trends{
	float: left;
	width:588px;
	position: relative;
	margin:0px auto;
	border: 1px solid #ebebeb;
	overflow: hidden;
}
#tab_trends{
	margin-left: 20px;
}
#tab_hotnew .tab_menu_hotnew ,
#tab_trends .tab_menu_trends {
	width: 100%;
	z-index: 1;
}

#tab_hotnew .tab_menu_hotnew li ,
#tab_trends .tab_menu_trends li {
	border-top: 2px solid #f4f4f4;
	float: left;
	width: 50%;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #ebebeb;
	cursor: pointer;
	text-align: center;
	margin: 0;
	font-size: 18px;
	color: #969696;
	background: #f4f4f4;
}
#tab_hotnew .tab_menu_hotnew li a,
#tab_hotnew .tab_menu_hotnew li a{
	color: #969696;	
}
#tab_hotnew .tab_box_hotnew ,
#tab_trends .tab_box_trends{
	width:100%;
	height:auto;
	clear: both;
	position: relative;
	background-color: #FFFFFF;
}

#tab_hotnew .tab_menu_hotnew .selected,
#tab_trends .tab_menu_trends .selected  {
	border-top: 2px solid #af141b;
	border-bottom:1px solid #fff;
	background: #ffffff;
	cursor: pointer;
	color: #af141b;
}
#tab_hotnew .tab_menu_hotnew .selected a,
#tab_trends .tab_menu_trends .selected a  {
	color: #af141b;
}
.hide {
	display: none;
}

.tab_box_hotnew div ,
.tab_box_trends div{
	padding:7px 0;
} 
.tab_box_hotnew ul li,.tab_box_trends ul li{
	width: 92%;
	margin: 0 auto;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px dashed #ededed;
}
.tab_box_hotnew ul li.last,
.tab_box_trends ul li.last{
	border-bottom:none;
}
.tab_box_hotnew ul li a,.tab_box_trends ul li a{
	font-size: 14px;
	color: #323232;
}
.tab_box_hotnew ul li a span,.tab_box_trends ul li a span{
	float: right;
	margin-right: 0;
	color: #969696;
	*position: relative;
	*top: -40px;
}
.tab_box_hotnew ul li a:hover,.tab_box_trends ul li a:hover{
	color: #ce0006;
}
.tab_box_hotnew ul li a:hover span,.tab_box_trends ul li a:hover span{
	color: #ce0006;
}
.trends{
	float:left;
	margin-left: 20px;
}

/*åª’ä½“åœ°å¤§*/
.media{
	width: 1200px;
	height: auto;
	background: #fff;
	margin: 20px auto;
	border: 1px solid #ededed;
}
.media ul li{
	float: left;
	width: 170px;
	text-align: center;
	position: relative;
	z-index: 1;
}
.media ul li a{
	display: block;
	text-align: center;
}
.media ul li a img{
width:70px;
	margin-top: 30px;
}
.media ul li a p{
	font-size: 18px;
	color: #323232;
	margin: 10px 0 20px 0;
}
.media ul li:hover a p{
	color: #ce0006;
}
.media ul li a i{
	display: block;
	width: 70px;
	height: 70px;
	margin-top: 30px;
	position: relative;
	left: 50%;
	margin-left:-35px;
	*left:0;
	*margin-left:0px;
	text-align: center;
	transition: .3s;
	background: url(../img/media_pic2.png) no-repeat 0 0;
}
.media ul li:hover a i{
	background: url(../img/media_pic2.png) no-repeat 0 -70px;
}
.media .fadin .layel{
	display: none;
	position: absolute;
	top:-208px;
	left: 50%;
	margin-left: -170px;
	width: 340px;
	height: 175px;
	padding-top: 50px;
	background: url(../img/layel_bg.png) no-repeat 0 0;
}
.media .fadin .layel ul li{
	float: left;
	width: 50%;
	font-size: 16px;
	line-height: 40px;
}
.media .fadin .layel ul li a{
	color: #505050;
}
.media .fadin .layel ul li a:hover{
	color: #ce0006;
	text-decoration: underline;
}

/*footer*/
.footerWrap{
	width: 100%;
	margin: 0px auto;
	height: 192px;
	overflow: hidden;
	background: url(../img/footer_bg.png) no-repeat 0 0;
}
.footerDiv{
	width: 1200px;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
}
.footer_l{
	float: left;
	margin-top: 22px;
	width: 285px;
	height: 148px;
	border-right: 1px solid #943237;
}
.footer_l ul li{
	float: left;
	width: 30px;
	margin-right:50px;
	margin-top: 28px;
}
.footer_l ul li a{
	display: block;
	width: 30px;
	height: 30px;
}
.footer_l ul li a.icon1{
	background: url(../img/sina2.png) no-repeat 0 0;
}
.footer_l ul li a.icon2{
	background: url(../img/weixin2.png) no-repeat 0 0;
}
.footer_l ul li a.icon3{
	background: url(../img/qq2.png) no-repeat 0 0;
}
.footer_l ul li a.icon4{
	background: url(../img/weibo2.png) no-repeat 0 0;
}
.footer_l ul li a.icon5{
	background: url(../img/kongjian2.png) no-repeat 0 0;
}
.footer_l ul li a.icon6{
	background: url(../img/rr2.png) no-repeat 0 0;
}
.footer_l ul li a.icon1:hover{
	background: url(../img/sina1.png) no-repeat 0 0;
}
.footer_l ul li a.icon2:hover{
	background: url(../img/weixin1.png) no-repeat 0 0;
}
.footer_l ul li a.icon3:hover{
	background: url(../img/qq1.png) no-repeat 0 0;
}
.footer_l ul li a.icon4:hover{
	background: url(../img/weibo1.png) no-repeat 0 0;
}
.footer_l ul li a.icon5:hover{
	background: url(../img/kongjian1.png) no-repeat 0 0;
}
.footer_l ul li a.icon6:hover{
	background: url(../img/rr1.png) no-repeat 0 0;
}
.footer_m{
	float: left;
	width: 568px;
	
	margin-top: 22px;
	border-right: 1px solid #943237;
}
.footer_m p{
	margin-left: 32px;
	font-size: 14px;
	color: #ffffff;
	margin-top: 10px;
}
.footer_r{
	float: left;
}
.footer_r a{
	float: left;
	width: 110px;
	text-align: center;
	margin-left: 54px;
}
.footer_r a img{
	width: 110px;
	height: 110px;
	margin-top:36px;
	margin-bottom: 10px;
}
.footer_r a p{
	font-size: 14px;
	color: #fff;
}

/*åœ°å¤§æ–‡åŒ–*/
.banner{
	width: 1200px;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
}
.banner a{
	display: block;
	position: relative;
	z-index: 1;
}
.banner a img{
	display: block;
	width: 100%;
}
.banner a p{
	font-size: 30px;
	font-weight: bold;
	position: absolute;
	right: 2%;
	bottom:5%;
	color: #fff;
}
/*å½“å‰åœ°å€*/
.address{
	display: block;
	width: 1200px;
	background: #fafafa;
	border-bottom: 1px solid #e6e6e6;
	margin: 0 auto;
	padding: 5px 0 0 0;
	font-size: 14px;
	color: #757474;
	line-height: 36px;
	text-indent: 20px;
}
.address a{
	padding: 0 12px;
	color: #757474;
}
.address a:hover,
.address a.cur{
	color: #7e050a;
}
/*content*/
.content{
	width: 1200px;
	margin: 0 auto 20px;
	height: auto;
	overflow: hidden;
	background: #fff;
}
.content_l{
	float: left;
	width: 250px;
	padding: 20px 0 0 0;
}
.content_l ul li{
	display: block;
	width: 100%;
	margin-top: 10px;
	height: 60px;
	line-height: 60px;
	font-size: 16px;
	text-align: center;
}
.content_l ul li a{
	display: block;
	color: #646464;
}
.content_l ul li a:hover,.content_l ul li a.cur{
	background: #811a1e;
	color: #fff;
}
.content_r{
	float: left;
	width: 949px;
	min-height: 574px;
	border-left: 1px solid #e6e6e6;
}
.kuang{
	width:884px;
	height: 60px;
	margin: 0 auto;
	border-bottom: 1px solid #c7c7c7;
	position: relative;
	z-index: 1;
}
.kuang h2{
	position: absolute;
	z-index: 2;
	bottom: -27px;
	left: 0;
	background: #fff;
	width: 122px;
	height: 40px;
	font-size: 18px;
	color: #811a1e;
}
.kuang h2 a{
	color: #811a1e;
}
.cul_img{
	width: 100%;
	margin: 0 auto;
	height: auto;
	overflow: hidden;
	text-align: center;
}
.cul_img img{
	width: 460px;
	height: 85px;
	margin-top: 36px;
	margin-bottom: 50px;
}
.cul_img p{
	font-size: 16px;
	color: #505050;
}
.paraphrase{
	width: 100%;
	margin: 0 auto;
	height: auto;
	overflow: hidden;
}
.paraphrase img{
	width: 185px;
	height: 185px;
	margin:36px auto 0;
	position: relative;
	left: 50%;
	margin-left: -92.5px;
}
.paraphrase h2{
	font-size: 16px;
	color: #505050;
	margin-top: 35px;
	margin-left: 25px;
	margin-bottom: 5px;
}
.paraphrase p{
	margin-left: 25px;
	text-indent: 2em;
	width: 884px;
	font-size: 14px;
	color: #505050;
	line-height:32px;
	text-align: justify;
}
.school_motto{
	width: 100%;
	margin: 0 auto;
	height: auto;
	overflow: hidden;
	padding-bottom: 52px;
}
.school_motto h2{
	font-size: 20px;
	color: #505050;
	margin: 36px auto 45px;
	text-align: center;
}
.school_motto p{
	margin-left: 25px;
	text-indent: 2em;
	width: 884px;
	font-size: 14px;
	color: #505050;
	line-height:32px;
}

/*æœºæž„åˆ—è¡¨*/
/*ä¿¡æ¯å…¬å¼€*/
.agency_list{
	width: 884px;
	margin-left: 25px;
	height: auto;
	overflow: hidden;
}
.agency_list ul li{
	float: left;
	font-size: 16px;
	width: 430px;
	margin-right:0px;
	margin-top: 50px;
}

.agency_list ul li a{
	display: block;
	color: #505050;
	background: url(../img/xdd_icon.png) no-repeat 0px center;
	text-indent: 12px;
}
.agency_list ul li a:hover{
	color: #811a1e;
}
.agency_lista{
	padding-bottom: 50px;
}

/*ç®€ä»‹é¡µ*/
/*å†…å®¹é¡µ*/
.brief{
	width: 894px;
	margin: 0 auto;
	height: auto;
	overflow: auto;
}
.brief h2{
	font-size: 20px;
	color: #505050;
	margin-top: 50px;
	text-align: center;
	margin-bottom:36px;
}
.brief h2.title{
	margin-bottom:15px;
}
.brief span{
	
	font-size: 14px;
	color: #9b9b9b;
	text-align: center;
	margin-bottom: 36px;
}
.brief  p{
	width:100%;
	font-size: 14px;
	color: #797575;
	text-indent: 2em;
	line-height: 32px;
	text-align: justify;
}
.brief  p.p1{
	text-indent:0;
	text-align: center;
}
.article{
	width: 100%;
	margin: 0 auto;
	height: 152px;
	overflow: hidden;
	border-top: 1px solid #E6E6E6;
}
.article ul li{
	display: block;
	font-size: 16px;
	color: #505050;
	margin-top: 35px;
}
.article ul li label{
	margin-left: 25px;
	margin-right: 5px;
}
.article ul li a{
	color: #505050;
}
.article ul li a:hover{
	color: #811a1e;
}
/*é¢†å¯¼å±•ç¤º*/
.leader_show{
	width: 870px;
	height: auto;
	margin: 20px auto 52px;
	overflow: hidden;
}
.leader_show ul li{
	float: left;
	width: 187px;
	margin-top: 36px;
	margin-right: 40px;
}
.leader_show ul li.right{
	margin-right: 0;
}
.leader_show ul li a{
	display: block;
	text-align: center;
	border: 1px solid #ececec;
}
.leader_show ul li a .show_con{
	width:179px;
	margin:3px auto;
	background: #e6e6e6;
	padding-bottom: 10px;
}
.leader_show ul li a .show_con img{
	width: 179px;
	height: 122px;
}
.leader_show ul li a .show_con p{
	font-size: 16px;
	color: #505050;
	margin-top: 20px;
}
.leader_show ul li a .show_con span{
	display: block;
	width: 81px;
	height: 25px;
	text-align: center;
	line-height: 24px;
	background: #811a1e;
	font-size: 14px;
	color: #fff;
	margin: 27px auto 0px;
	border-radius: 3px;
}
.leader_show ul li a:hover{
	border: 1px solid #811a1e;
}
.page{
	width: 100%;
	height: 110px;
	border-top: 1px solid #e6e6e6;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
}
.page a,.page span,.page input{
	font-size: 14px;
	color: #505050;
	margin: 50px 5px 0 5px;
}
.page a{
	padding: 2px 6px;
}
.page a:hover,.page a.cur{
	background: #7e050a;
	color: #fff;
}
/*.page a:visited{
	background: #e6e6e6;
}*/
.page input.input{
	width: 50px;
	height: 22px;
	text-align: center;
	line-height: 22px;
	font-size: 14px;
	color: #7e050a;
	border: 1px solid #E6E6E6;
}
.page input.button{
	font-size: 14px;
	color: #fff;
	background: #7e050a;
	padding: 2px 6px;
	cursor: pointer;
}
/*å›¾ç‰‡åˆ—è¡¨*/
.picture_list{
	width: 888px;
	margin: 8px auto 42px;
	height: auto;
	overflow: hidden;
}
.picture_list ul li{
	float: left;
	width: 258px;
	margin-right: 56px;
	margin-top: 44px;
}
.picture_list ul li.right{
	margin-right: 0;
}
.picture_list ul li a{
	display: block;
	text-align: center;
}
.picture_list ul li a img{
	width: 258px;
	height: 168px;
}
.picture_list ul li a p{
	font-size: 16px;
	color: #505050;
	margin-top: 18px;
}
.picture_list ul li a:hover img{
	opacity: .8;
}
.picture_list ul li a:hover p{
	color: #7e050a;
}
/*æ–‡å­—åˆ—è¡¨*/
.text_list{
	width: 888px;
	margin:20px auto 40px;
	height: auto;
	overflow: hidden;
}
.text_list ul li{
	display: block;
	font-size: 16px;
	margin-top: 32px;
}
.text_list ul li a{
	display: block;
	background: url(../img/xdd_icon.png) no-repeat 0 center;
	text-indent: 12px;
	color: #505050;
}
.text_list ul li a em{
	display: inline-block;
	font-size: 14px;
	color: #949494;
}
.text_list ul li a i{
	float: right;
           font-style:normal;
	margin-right: 0;
	font-size: 14px;
	color: #9b9b9b;
}
.text_list ul li a:hover{
	color: #7e050a;
}
.defaultInputStyle{border:solid 1px #AFD5F5; }
#vsb_content_2 .vsbcontent_img{margin-bottom:15px;margin-top:15px;}
#vsb_content_2 .vsbcontent_img img{width:620px;}